@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
/* CSS Document */
/*Version: 1.22*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Content
	## Posts and pages
	## Comments
# Media
	## Captions
	## Galleries
# Woocommerce
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Root settings and Variables
--------------------------------------------------------------*/
:root {
	font-size: 16px;
	/*HSL color values for computing colorschemes*/
	--salvona-primary-h: 213;
	--salvona-primary-s: 35%;
	--salvona-primary-l: 47%;
		--color-salvona-primary: hsl(var(--salvona-primary-h), var(--salvona-primary-s), var(--salvona-primary-l));
		--color-salvona-btn-bg: var(--color-salvona-primary);
		--color-salvona-btn-bg-hover: hsl(var(--salvona-primary-h), var(--salvona-primary-s), calc(var(--salvona-primary-l) * .9));
		--color-salvona-btn-fg: #FFF;
		--color-salvona-btn-fg-hover: #FFF;
	
	--salvona-secondary-h: 35.2;
	--salvona-secondary-s: 100%;
	--salvona-secondary-l: 44.1%;
		--color-salvona-secondary: hsl(var(--salvona-secondary-h), var(--salvona-secondary-s), var(--salvona-secondary-l));
		--color-salvona-secondary-btn-bg: var(--color-salvona-secondary);
		--color-salvona-secondary-btn-bg-hover: hsl(var(--salvona-secondary-h), var(--salvona-secondary-s), calc(var(--salvona-secondary-l) * .9));
		--color-salvona-secondary-btn-fg: #FFF;
		--color-salvona-secondary-btn-fg-hover: #FFF;
}


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

.row {
	margin-bottom: .5em;
}

.hr-nav {
	padding-bottom: 0;
	margin-bottom: 0;
}
h1, h2, h3, h4, h5 {
	padding: 0;
}

a {
	color: var(--color-salvona-secondary);
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*mobile*/
	@media screen and (max-width: 800px){
		
		.pid-text {
			float: left!important;
			margin-right:auto;
			font-weight: 500;
			font-size: 1.8em;
			color: #b5b5b5;
		}
		
	}
/*mobile end*/

p, li, a, .btn, th, tbody, label, div.label, .package-title, .posted_in {
	font-size:1.3rem;
	line-height: 1.5;
}
.pid-text {
	font-size: 1.5rem;
}
.woocommerce-variation-price {
  font-weight: 600;
  font-size: 1.8rem;
	padding-bottom: 1rem;
}
td.value, select.form-control, footer p, footer a  {
	font-size: 1.2rem;
	line-height: 1.5;
}

/*INCI typography*/
.woocommerce-variation-description p
{
	font-size: .8rem;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/*mobile elements*/
	@media screen and (min-width: 1200px){
		.container {
			max-width: 1200px;
		}
	}
/*end mobile elements*/
	
/*salvona buttons*/
	.salvona-btn:hover {
		color: #f1f1f1;
		background-color: var(--color-salvona-secondary-btn-bg-hover);
		border-color: var(--color-salvona-secondary-btn-bg);
		border-radius: 5px;
	}
	.salvona-btn:focus , .salvona-btn:active  {
		filter: opacity(50%);
		background-color: var(--color-salvona-secondary-btn-bg-hover)!important;
	}
	.salvona-btn {
		font-size: 1.2rem;
		text-decoration:none!important;
		color:#FFF;
		background-color: var(--color-salvona-secondary-btn-bg);
		border-color: var(--color-salvona-secondary-btn-bg-hover);
		border-radius: 5px;
		margin-top: .4em;
		padding: .3rem;
	}
/*salvona buttons end*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

header#masthead { 
	background-color: #FFF;
}

h1, h2, h3 {
	color: #4F75A3;
}

.dropdown-menu > li > a {
	color: #4F75A3;
	
}
.dropdown-menu {
	border-radius: 0px;
	border-top: 2px solid #4F75A3;
}

#salvona-search input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#salvona-search input[type=search]:hover {
	background-color: #fff;
}
#salvona-search input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#salvona-search input:-moz-placeholder {
	color: transparent;
}
#salvona-search input::-webkit-input-placeholder {
	color: transparent;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: url("/~salvona2/images/DotsBackgroundGrey.svg") no-repeat center center scroll; 
	background-color: #4a72ae;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


.social-icons, .footer-thumb, div.col.salvona-logo-thumbnail {

}
footer i {
	font-size: 2.75em;
	color: #99979c;
	margin-left: 1rem;;
	margin-top: -.3rem;
}

.footer-thumb img {
	width: 90%;
	height: 100%;
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
	
}



/*--------*/

button {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
a:hover,
a:focus,
a:active {
    transform: scale(1.03);
}
button:hover,
button:focus,
button:active {
    transform: scale(1.03);
}



.about img {
	border: 5px solid #FFF;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
}







@media only screen and (min-width: 768px) {
.darkblue .form-inline {
	display: inline-flex;
	}
.darkblue input {
	margin-right:10px;
	margin-left:10px
	}
	}

@media only screen and (max-width: 768px) {	
.darkblue .form-inline {
	margin-left:20px;
	margin-right:20px;
	display: grid;
	text-align: center;
	}

.darkblue {
	text-align: center;
	}
.darkblue input {
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px
	}
.darkblue label {
	margin-top:20px;
	}
	}	
	
	


.productroll a{
	font-size:.9rem;
	letter-spacing:2px;
	}
	
.productroll p {
	font-size:.9rem;
	}	
.productroll img {
	border-radius: 5px;
	}
.spheres img {
	margin-top:-20px;
	}
.productroll .col-lg-4 {
	padding-left: 3px;
	}
	
	


@media only screen and (min-width: 768px) {
.productroll .col-4, .productroll .col-8  {
	padding-top: 3%;
	}
	}
	
@media only screen and (max-width: 768px) {	
.productroll .col-4, .productroll .col-8  {
	padding-top: 5%;
	}
	}		


.eventcard {
	background-color:#ececec;
	padding-bottom:10%;
	padding-top:10%;
	padding-right:7%;
	padding-left:7%;
	border-radius: 10px;
	margin-bottom:10%;
	}
	 
.eventcard h3 {
	min-height:105px;
	}
	


html {
	
	}



.darkblue i {
	margin-right:20px;
	font-size: 2.75em;
	}



@media only screen and (min-width: 768px) {
.toprightnav {
	padding-top:45px;
	text-align:right;
	}
	
.logonav {
	text-align:left;
	}
}
	
	
@media only screen and (max-width: 768px) {
.toprightnav {
	padding-top:0px;
	padding-bottom:10px;
	text-align:center;
	}
	
.logonav {
	text-align:center;
	}
	}

.darkblue {
	background-color:#3a4a65;
	}


.dropdown-menu {
	    margin-bottom: 12px;
		border-radius: 0rem;
		}


.navbar {
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #bcbcbc;
	border-bottom-color: #bcbcbc;
	}
	
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.3rem;
    padding-left: 0rem;
}




html {
  scroll-behavior: smooth;
}






.homepagemarquee {
	background-color: #4a72ae;
	padding-top: 10%;
	padding-bottom: 10%;
}
.homepagemarqueemobile {
	background-color: #4a72ae;
	padding-top: 10%;
	padding-bottom: 10%;
}
.homepagemarquee p, .homepagemarquee h1, .homepagemarquee h2, .homepagemarquee h3,.homepagemarquee h4, .homepagemarquee h5 {
	color: #ffffff;
	text-align: left;
} 







.marquee {
	background-color: #4a72ae;
	padding-top: 6%;
	padding-bottom: 6%;
}
.marquee p, .marquee h1, .marquee h2, .marquee h3,.marquee h4, .marquee h5 {
	color: #ffffff;
	text-align: center;
} 
.marquee h1 {
	font-size: 3.5em;
	}


.university {
	background: url("../backgrounds/EventsPageBackground.webp") no-repeat center top scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}
	
.cbdworkshop {
	background: url("../backgrounds/CBDHeaderImage.webp") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}
	
.standardBG {
	background: url("../backgrounds/StandardBG.jpg") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}
	
.homepagemarquee {
	background: url("../backgrounds/HomepageImage.webp") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}
	
.homepagemarqueemobile {
	background: url("../backgrounds/HomepageImage.webp") no-repeat center center scroll; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}



@media only screen and (max-width: 800px) {
.homepagemarquee {
	background: url("../backgrounds/blank.gif") no-repeat center center scroll; 
	background-color: #4a72ae;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	}
	}

	
	
	
	
a:hover {
	color:#4a72ae;
	}
a {
	color:#4a72ae;
	}
	
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #4e4e4e;
}
img {
	height: auto;
}
#salvona-homepage img, #salvona-about-page img {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
}
.tabstyles img {
	margin-top:15px;
	margin-bottom:15px;
	width: 90%;
	}
.eventstyles img {
	margin-top:15px;
	margin-bottom:15px;
	width: 100%;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #4a72ae;
	line-height: 1.1;
}

h1, h2, h3, h4 {
	margin-top: 5px;
	margin-bottom: 10px;
}

h5, h6 {
	color:#999 ;
	margin-top: 4px;
	margin-bottom: 9px;
}

p {
	font-family: 'Roboto', sans-serif;
	margin-bottom: .5em!important;
	line-height: 1.6em;
	margin-top: .5em!important;
}
ul,ol {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
    line-height: 1.6em;
}
.tabstyles li {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -18px;
}
b, strong {
	font-weight: 700;
}

.tabstyles button {
	width: 95%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.eventstyles button {
	width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}



sub, sup {
    top: -.6em;
	font-size: 50%;
}
.darkgreytext {
	color: #666666;
}
.greybg {
	background-color: #999999;
}
.darkgreybg {
	background-color: #666666;
}
.lightgreybg {
	background: rgb(241,241,241);
	background: linear-gradient(90deg, rgba(241,241,241,1) 50%, rgba(232,232,232,1) 100%);
}
.lightbluebg {
	background: rgb(230,237,245);
	background: linear-gradient(90deg, rgba(230,237,245,1) 50%, rgba(192,209,229,1) 100%);
}
.greydotsbg {
	background: url(../images/DotsBackgroundGrey.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bluedotsbg {
	background: url(../images/DotsBackgroundBlue.svg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.formulationtable td {
	background-color: #FFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border: 1px solid #CCC;
}
.formulationtable {
	padding: 5px;
	background-color: #ebebeb;
	width: 100%;
}
.formulationtable tr:first-child td{
	background-color: #4a72ae;
	color: #FFF;
	border: 1px solid #555;
}
.formulationtable tr:first-child p {
	color: #FFF;
}



.technicaltable td {
	background-color: #FFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border: 1px solid #CCC;
}
.technicaltable {
	padding: 5px;
	background-color: #ebebeb;
	width: 100%;
}
.technicaltable td:nth-child(1) {
	background-color: #e8e9f3;
	border: 1px solid #999999;
}
.technicaltable tr:first-child p {
	color: #FFF;
	border: 1px solid #999999;
}




.versiontable td {
	background-color: #FFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
	border: 1px solid #CCC;
}
.versiontable {
	padding: 5px;
	background-color: #ebebeb;
	width: 100%;
}
.versiontable tr:first-child td{
	background-color: #4a72ae;
	color: #FFF;
	border: 1px solid #555;
	font-weight: bold;
}
.versiontable td:nth-child(1) {
	background-color: #e8e9f3;
	border: 1px solid #999;
	text-align: center;
	font-weight: bold;
}
.versiontable tr:first-child p {
	color: #FFF;
	border: 1px solid #999999;
}

hr {
	margin-top: 4%;
	margin-bottom: 4%;
	border-top: 1px solid #ddd;
	}

hr.spacer {
    margin-top: 3%;
    margin-bottom: 3%;
    border-top: 1px solid #ffffff;
	}

hr.tighter {
    margin-top: 1%;
    margin-bottom: 3%;
    border-top: 1px solid #ddd;
	}

.btn-primary {
    color: #fff;
    background-color: #e18400;
    border-color: #e18400;
}
.btn-primary:hover {
	color: #fff;
	background-color: #666;
	border-color: #e18400;
}
.btn-primary.focus, .btn-primary:focus {
	color: #fff;
	background-color: #4a72ae;
	border-color: #e18400;
	box-shadow:0 0 0 .2rem rgba(150,150,150,.5)
}

.padtopbottom {
	padding-top:5%;
	padding-bottom:5%;
	}
	
.smallerpadtopbottom {
	padding-top:2%;
	padding-bottom:2%;
	}
@media only screen and (max-width: 768px) {
.smallerpadtopbottom {
	padding-top: 10%;
    padding-bottom: 10%;
	}
	}



@media (min-width: 768px) {
	.tabstyles .col, .tabstyles .col-1, .tabstyles .col-10, .tabstyles .col-11, .tabstyles .col-12, .tabstyles .col-2, .tabstyles .col-3, .tabstyles .col-4, .tabstyles .col-5, .tabstyles .col-6, .tabstyles .col-7, .tabstyles .col-8, .tabstyles .col-9, .tabstyles .col-auto, .tabstyles .col-lg, .tabstyles .col-lg-1, .tabstyles .col-lg-10, .tabstyles .col-lg-11, .tabstyles .col-lg-12, .tabstyles .col-lg-2, .tabstyles .col-lg-3, .tabstyles .col-lg-4, .tabstyles .col-lg-5, .tabstyles .col-lg-6, .tabstyles .col-lg-7, .tabstyles .col-lg-8, .tabstyles .col-lg-9, .tabstyles .col-lg-auto, .tabstyles .col-md, .tabstyles .col-md-1, .tabstyles .col-md-10, .tabstyles .col-md-11, .tabstyles .col-md-12, .tabstyles .col-md-2, .tabstyles .col-md-3, .tabstyles .col-md-4, .tabstyles .col-md-5, .tabstyles .col-md-6, .tabstyles .col-md-7, .tabstyles .col-md-8, .tabstyles .col-md-9, .tabstyles .col-md-auto, .tabstyles .col-sm, .tabstyles .col-sm-1, .tabstyles .col-sm-10, .tabstyles .col-sm-11, .tabstyles .col-sm-12, .tabstyles .col-sm-2, .tabstyles .col-sm-3, .tabstyles .col-sm-4, .tabstyles .col-sm-5, .tabstyles .col-sm-6, .tabstyles .col-sm-7, .tabstyles .col-sm-8, .tabstyles .col-sm-9, .tabstyles .col-sm-auto, .tabstyles .col-xl, .tabstyles .col-xl-1, .tabstyles .col-xl-10, .tabstyles .col-xl-11, .tabstyles .col-xl-12, .tabstyles .col-xl-2, .tabstyles .col-xl-3, .tabstyles .col-xl-4, .tabstyles .col-xl-5, .tabstyles .col-xl-6, .tabstyles .col-xl-7, .tabstyles .col-xl-8, .tabstyles .col-xl-9, .tabstyles .col-xl-auto {
    padding-right: 3%;
	}
}
		
		
		
